.contentNews{
    margin-top: 2vh;
    margin-left: 2vh;
    max-width: 1000px;
    position: relative;
    border-bottom: 1px solid #44475a;
    padding: 0 0 2vh 0;    
}

.imgNotice{
    border-radius: 1vh; 
    width: 200px;
    height: 150px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-position: center;
    background-size: 101% 101%;
}

.contentNews:hover{
    cursor: pointer;
}

.contentNews:hover .imgNotice{
    transition: all .4s;
    transform: scale(1.05);
    animation: shrink 1.1s ;
    animation-fill-mode: forwards;

}

.contentNews:hover .title{
    transition: all .5s;
    color: rgb(213, 218, 223);

}

.contentNews:hover .techtudoImg{
    border: 1px solid rgb(255 184 108 / 100%);
}

.contentNews:hover .tecmundoImg{
    border: 1px solid rgb(139 233 253 / 100%);
}

.contentNews:hover .infomoneyImg{
    border: 1px solid rgb(80 250 123 / 100%);
}

@keyframes shrink {
    to {
        background-size: 110% 110%;
    }
  }

.divText{
    margin-left: 2vh;
    align-self: center;
    line-height: 1;
}

.siteName{
    font-size: 0.8em;
    margin-bottom: 0;
}

.techtudoImg{
    border: 1px solid rgb(255 184 108 / 20%);
}

.techtudoTextColor{
    color:#ffb86c;
}

.tecmundoImg{
    border: 1px solid rgb(139 233 253 / 20%);
}

.tecmundoTextColor{
    color:#8be9fd;
}

.infomoneyImg{
    border: 1px solid rgb(80 250 123 / 20%);
}

.infomoneyTextColor{
    color:#50fa7b;
}

.title{
    color:#8995a0; 
    font-weight: bold;
    font-size: 1.2em;
}

@media screen and (max-width: 576px) {
    .imgNotice{
        width: 400px;
        height: 300px;
    }

    .divText{
        margin: 3vh 0 0 0;
    }    

    .contentNews {
        margin: 3vh 0 0 0;
    }
}